@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Spartan",sans-serif;

}
h1{
    font-size: 50px;
    line-height: 64px;
    color:#222;
}
h2{
    font-size: 46px;
    line-height: 64px;
    color:#222;
}
h4{
    font-size: 30px;
    color:#222;
}
h6{
    font-weight: 700;
    font-size:12px;
}
p{
    font-size: 12px;
    color:#465b52;
}
.section-p1{
    padding:40px 80px;
}
.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color:#000;
    background-color:#fff;
    border:none;
    outline:none;
    transition: 0,2s;
}
body{
    width:100%;
}
#header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 80px;
    background: #280c6e;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top:0;
    left: 0;
}
#header strong{
    color:#fff;
}
#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #a9a7a7;
    transition:0,3s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color:#088178;
}
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    background:#088178;
    height: 2px;
    position: absolute;
    bottom:-4px;
    left: 20px;
}
#navabar li a:hover{
    background:#088178;
}

#hero {
    background-image: url("img/download\ \(1\).jpg");
    height: 90vh;
    width: 100%;
    background-size:cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column ;
    align-items: flex-start;
    justify-content: center;
}
#hero h4 {
    padding-bottom:15px;
    color:#050367;
}
#hero h1 {
    color: #0b0d0d;
}
#hero p {
    color:#fff;
}
#hero button{
    background-color: transparent;
    color:#eaf1f1;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    border: 0;
}
#hero2{
    background-color: #fff;
    height:60vh;
    width: 100%;
    background-size:cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
#hero2 h4 {
    padding-bottom:15px;
    color:#4b48f0;
    font-size: 18px;
}
#hero2 h1 {
    color:#070707;
}
#hero2 p {
    color:#535354;
    font-size: 16px;
    margin-top:25px;

}
#hero2 button{
    background-color: transparent;
    color:#0b0d0d;
    padding: 14px 50px 14px 50px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    margin-top:35px;
    margin-left:50px;
}
#feature{
    background-color: #dbe9ff;
    text-align:left;
    height:100vh;
    width: 100%;
    background-size:cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#feature h4{
    padding-bottom:15px;
    color:#4b48f0;
    font-size: 18px;
}
#feature h1{
    color:#070707;
}
#feature .fea-container{
    display: flex;
    justify-content:space-between;
    padding-top:  20px;
    flex-wrap: wrap;
}
#feature .fea{
    width: 30%;
    height: 400px;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px;
    transition:0.2s ease;
    position: relative;
    background-color: #fff;
}
#feature .fea:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}
#feature .fea img{
    width: 100%;
    height: 250px;
    border-radius: 10px 0;
}
#feature .fea .mng{
    text-align: start;
    padding: 10px 0;
}
#feature .fea .mng h5{
    font-size:20px;
    margin-top: 7px;
    margin-left: 10px;
}
#feature .fea .mng p{
    font-size:18px;
    margin-left: 10px;
    margin-top: 10px;
}
#feature .fea .mng h5:hover{
    color:#757578;
}
#feature .fea-container .fea .mng h5 a{
    text-decoration: none;
    color: inherit;
}
#feature1{
    background-color:#fff;
    text-align:left;
    height:100vh;
    width: 100%;
    background-size:cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#feature1 h4{
    padding-bottom:15px;
    color:#4b48f0;
    font-size: 18px;
}
#feature1 h1{
    color:#070707;
}
#feature1 .fea-container{
    display: flex;
    justify-content:space-between;
    padding-top:  20px;
    flex-wrap: wrap;
}
#feature1 .fea{
    width: 30%;
    height: 400px;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px;
    transition:0.2s ease;
    position: relative;
    background-color: #fff;
}
#feature1 .fea:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}
#feature1 .fea img{
    width: 100%;
    height: 250px;
    border-radius: 10px 0;
}
#feature1 .fea .mng{
    text-align: start;
    padding: 10px 0;
}
#feature1 .fea .mng h5{
    font-size:20px;
    margin-top: 7px;
    margin-left: 10px;
}
#feature1 .fea .mng p{
    font-size:18px;
    margin-left: 10px;
    margin-top: 10px;
}
#feature1 .fea .mng h5:hover{
    color:#757578;
}
#feature1 .fea-container .fea .mng h5 a{
    text-decoration: none;
    color: inherit;
}
#contact{
    background-color:#dbe9ff;
    height:100vh;
    width: 100%;
    padding: 50px 20px;
    position: relative;
    line-height: 40px;
    background-size:cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column ;
    align-items: flex-start;
    justify-content: center;
}
#contact .con-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin: auto;

}
#contact .con-container .contact-info h4{
    padding-bottom:15px;
    color:#4b48f0;
    font-size: 18px;
}
#contact .con-container .contact-info h1{
    color:#070707;
    margin-right:20px;
    font-size: 40px;
    margin-bottom: 20px;
}
#contact .con-container .contact-info h5{
    color:#222;
}
#contact .con-container .contact-info p,
#contact .con-container .contact-info a,
#contact .con-container .contact-info li{
    color:#535354;
    line-height: 1.6;
    margin-bottom: 8px;
    font-size: 17px;
    margin-left: 20px;
}
#contact .con-container .contact-form input[type="text"],
#contact .con-container .contact-form input[type="tel"],
#contact .con-container .contact-form input[type="email"],
#contact .con-container .contact-form input[type="message"],
    .contact-form textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }

#contact .con-container .contact-form textarea {
      height: 100px;
    }
#contact .con-container .contact-form input[type="checkbox"] {
      margin-right: 8px;
      margin-top: 15px;
    }


#contact .con-container .contact-form .checkbox {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      font-size: 14px;
      margin-bottom: 20px;
      margin-top: 15px;
      max-width: 500px;
    }
 
#contact .con-container .contact-form  .checkbox input {
        margin-top: 5px; /* chỉnh nhẹ nếu cần */
      }
#contact .con-container .contact-form .checkbox label {
        line-height: 1.5;
      }

#contact .con-container .contact-form button {
      padding: 10px 20px;
      background-color: #2563eb;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      margin-top: 10px;
    }

#contact .con-container .contact-form button:hover {
      background-color: #1d4ed8;
    }
#footer{
        background-color:#280c6e;
        color:#e9e9ec;
        height:70vh;
        width: 100%;
        padding: 50px 20px;
        position: relative;
        line-height: 40px;
        margin-top:0;
    }
#footer h5{
        color:#fff;
        font-size:24px;
        margin-bottom: 30px;
    }
#footer p{
        color:#c1c1c6;
        font-size:16px;
        margin: 8px 0;
    }
#footer .footer-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 40px;
        max-width: 1200px;
        margin: auto;
    }
#footer .footer-container .phone{
        margin-top:10px;
    }
#footer .footer-container .hashtag{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
#footer .footer-container .newsletter{
        display: flex;
        margin-top: 10px;
        border-radius: 30px;
        overflow: hidden;
        background: white;
        height:30px;
    }
#footer .footer-container .newsletter button{
        background-color: #B2EBF2;
        border: none;
        padding: 0 20px;
        cursor: pointer;
        color: black;
    }
#footer .footer-container1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 600px;
        max-width: 1200px;
        margin: auto;
    }
#footer .footer-container1 .social-icons img{
        width: 24px;
        height:24px;
        margin: 0 8px;
    }
 hr{
        border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        margin: 30px auto;
        max-width: 1200px;
    }